* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 425px;
    height: 400px;
    margin-left: 100px;
    display: inline-block;
}

header {
    margin-top: 25px;
    margin-left: 76px;
    margin-bottom: 80px;
}

.link-header {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    color: #17233D;
    cursor: pointer;
    margin-right: 30px;
}

.button-header {
    background-color: #6FBF44;
    border: none;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
}

div {
    display: inline-block;
    margin-left: 86px;
    width: 493px;
}

h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;
    color: #161A49;
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    color: #4B505A;
    width: 493px;
}

a {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    cursor: pointer;
}


@media screen and (max-width: 900px) {

    header{
        display: none;
    }
    
img{
    margin: 50px;
    position: absolute;
    margin-top: 315px;
    Width:312px;
    Height:288px;

}

div{
    display: block;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

h1{
    font-size: 30px;
    line-height: 30px;
    width: 278px;
    margin: 202px 50px 30px 50px;
    text-align: center;
}

p{
    font-size: 18px;
    line-height: 33px;
    width: 304px;
    margin: 20px 55px;
    text-align: center;
}

a{
    margin-left: -80px;
}


}